@{
        ViewData["Title"] = "User info";
        Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Your are logged in!</h1>

<pre class="tab"> </pre>
    <h2> Register as </h2>
</div>

<pre class="tab"> </pre>
<pre class="tab"> </pre>


<div class="container">
    <div class="row">
        <div class="col-sm-4">

            <div class="card h-100" style="width: 18rem;">
                <img src="https://studyabroad.bg/wp-content/uploads/2022/07/three-happy-international-university-graduates-smiling-rejoicing-holding-diplomas-future-lawyers-engineers.jpg" class="card-img-top" alt="image">
                <div class="card-body">
                    <h4 class="card-title">Student</h4>
                    <p class="card-text"></p>
                    <a href="/User/CreateStudent" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100" style="width: 18rem;">
                <img src="https://resilienteducator.com/wp-content/uploads/2020/11/pexels-pixabay-235554.jpg" class="card-img-top" alt="image">
                <div class="card-body">
                    <h4 class="card-title">Parent</h4>
                    <p class="card-text"></p>
                    <a href="/SignIn/Test" class="btn mt-auto btn-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100" style="width: 18rem;">
                <img src="https://umaine.edu/news/wp-content/uploads/sites/3/2023/03/Teacher-burnout-news-feature.jpg" class="card-img-top" alt="image">
                <div class="card-body">
                    <h4 class="card-title">Teacher</h4>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>
